/* Reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Colors */
header {
    background-color: #add8e6;
}
.first-sect {
    background-color: #00008b;
}

.second-sect, .fourth-sect {
    background-color: white;
}

.third-sect, .fifth-sect {
    background-color: #d3d3d3;;
}



.sixth-sect, footer {
    background-color: #23272a;
}