/* Reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections Colors */

header {
    background-color: #add8e6;
}

.first-sect {
    background-color: #00008b;
}

.second-sect,
.fourth-sect {
    background-color: white;
}

.third-sect,
.fifth-sect {
    background-color: #d3d3d3;;
}

.sixth-sect,
footer {
    background-color: #23272a;
}

/* Sections Heights */

header,
footer {
    height: 80px;
}

.first-sect {
    height: 500px;
}

.second-sect,
.third-sect, 
.fourth-sect {
    height: 600px;
}

.fifth-sect {
    height: 1000px;
}

.sixth-sect {
    height: 650px;
}
/* Flex */

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#row-reverse {
flex-direction: row-reverse;
}

/* Box Colors */

.purple {
    background-color: #ee82ee;
}

.blue {
    background-color: #1e90ff;
}

.pink {
    background-color: #ffc0cb;
}

.green {
    background-color: #228b22;
}

.salmon {
    background-color: salmon;
}

.teal {
    background-color: teal;
}

/* Box Heights and Margins */

.box {
    height: 80%;
}

.salmon,
.teal {
    height: 90%;
    margin-bottom: 2em;
}


/* Box Widhts */

.purple {
    width: 60%; 
}

.blue {
    width: calc(80%*2/3);
}

.pink, 
.salmon {
    width: calc(80%*1/3);
}

.green {
    width: 80%;
}

.teal {
    width: calc(80%*1/6);
}

/* Border Style */
div {
    border: 2px dashed black;
}
.teal {
    border-color: white;
}

